[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[516 GB Encrypted]
row=1
col=0

[48b086f8-c1e0-4f60-8fe9-c7c2209eef61]
row=0
col=0

[90 GB Encrypted]
row=3
col=0

[324 GB Encrypted]
row=2
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/raden]
row=0
col=1

